class DesignsController < Angel::Controllers::DesignsController

layout "application"
  def edit
    set_design
    render :turbo_form
  end

  def set_design
    args = (params[:id].nil? && params[:name].present?) ? {name:params[:name]} : {id:params[:id]}
    @design = Design.find_by(**args)
    
    if(@design.has_settings_scope?(:user))
      @design.settings_scope(:user,current_user)
    end
    
    if(!!params[:page_id])
      set_page
    end
  end


end
