<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= link_to "New user", new_user_path %>
<% @page.designs.each do |design| %>
  <% if(design.params.include?(:records))  %>
    <%= design.loader(records:@users, path:users_path+"/table") %>
  <% end %>
<% end %>
