<turbo-frame id="<%= @design.options[:css_id] %>" class="loading">
  <div class="container" style="padding-top:2%; padding-bottom:2%;">
    <div class="container">
      <%= render("form", design:@design) %>
    </div>
  </div>
</turbo-frame>
